/* Remove the navbar's default margin-bottom and rounded borders */
body {
    font-family: 'Kanit', sans-serif;
    background-color: #0d0d0d !important;
}

.header-text{
    color: #fff;
    background-color: #000000c2;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    font-weight: 400;
}

.navbar{
    margin-bottom: 0;
    border-radius: 20;
    font-size: 15px;
}

.header-image {
    height: 180px;
    background-image: url('../img/bgheader.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.img-movie{
    width: 100%;
    /* height: -webkit-fill-available; */
}

.movie-name{
    background-color: #29DEF2;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 768px
}

/* Set gray background color and 100% height */
.sidenav {
    /* padding-top: 20px; */
    /* background-color: #f1f1f1; */
    height: 100%;
}

.sidenav-body{
    background-color: #f1f1f1;
    border-radius: 5px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.cat-number{
    color: burlywood;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    /* align-items: flex-end; */

    position: absolute;
    left: 0;
    bottom: 0;
    /* height: 100px; */
    width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}