/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    margin-top: 120px;
  }

  .row.content {
    height: auto;
  }
  .header-text {
    font-size: 20px;
  }
  .col-md-2.movie-grid {
    width: 50%;
  }
}
